<div *ngIf="cart.items">
    <div *ngFor="let items of cart.items">
        <div>
            <img [src]="items.food.imageUrl" alt="food img">
        </div>

        <div>
            <select #selectedOption (change)="changeQuantity(items, selectedOption.value)">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div>
            <p>{{items.food.name}}</p>
        </div>
        <div>
            {{items.food.price | currency}}
        </div>
        <div>
            <button class="remove" (click)="removeCart(items)">Remove Item</button>
        </div>
        <div>
            {{items.getPrice() | currency}}
        </div>
    </div>

    <div *ngIf="cart.items">
        <div>
            {{cart.items.length}}
        </div>
        <div>{{totalPrice | currency}}</div>
    </div>
</div>